body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: Verdana, sans-serif;
}

a {
  color: aquamarine;
}

video {
  width: 400px;
}

img {
  max-width: 800px;
}

footer {
  text-align: right;
  color: gray;
  margin-right: 20px;
  margin-bottom: 20px;
}

