body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: Verdana, sans-serif;
}

a {
  color: aquamarine;
}

video {
  width: 400px;
}

img {
   width: 400px; 
  display: block;
  margin: 20px auto;
}

footer {
  text-align: right;
  color: gray;
  margin-right: 20px;
  margin-bottom: 20px;
}


h1 { font-size: 50px; }
h2 { font-size: 42px; }
 
