body {
  background-color: black;
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

a {
  color: aquamarine;
  font-size: 16px;
}

img {
  margin-top: 20px;
}

.footer {
  color: gray;
  font-size: 16px;
  margin-top: 40px;
}


